{{ define "main" }}
{{ $ld := dict "@context" "https://schema.org" "@type" "BlogPosting" "headline" .Title "description" .Description "datePublished" (.Date.Format "2006-01-02") "dateModified" (.Lastmod.Format "2006-01-02") "author" (dict "@type" "Person" "name" .Site.Params.author) "publisher" (dict "@type" "Organization" "name" .Site.Title) "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink) "image" (absURL "images/og-image.png") }}
<script type="application/ld+json">{{ $ld | jsonify | safeJS }}</script>
<article class="post">
{{ if eq .Section "posts" }}{{ partial "ad_side.html" . }}{{ end }}
  <header class="post-head">
    <span class="pill">{{ .Section }}</span>
    <h1>{{ .Title }}</h1>
    <div class="post-byline">
      <img class="post-byline-avatar" src="{{ "images/pepe-san-icon-v2.jpg" | relURL }}" alt="{{ .Site.Params.author }}">
      <span class="post-byline-text">
        <span class="post-byline-name">{{ .Site.Params.author }}</span>
        <time class="post-byline-date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006年1月2日" }}</time>
      </span>
    </div>
  </header>

{{ if eq .Section "posts" }}{{ partial "ad.html" "article_top" }}{{ end }}

  <div class="post-body">
    {{ .Content }}
  </div>

  {{ if eq .Section "posts" }}{{ partial "ad.html" "article_end" }}{{ end }}

  <p class="backlink"><a href="{{ "/" | relURL }}">← 記事一覧へ戻る</a></p>
</article>
{{ end }}
